@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;

  --color-primary: #005228;
  --color-primary-container: #006d37;
  --color-on-primary-container: #91eca8;
  --color-surface: #f7f9ff;
  --color-surface-container: #e3efff;
  --color-surface-container-low: #edf4ff;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #091d2e;
  --color-outline: #6f7a6f;
  --color-outline-variant: #becabd;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

.shadow-soft {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
